html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  header {
      color: #160112;
  }

  nav * {
      display: inline-block;
      color: #160112;
  }
  nav a {
      text-decoration: none;
      margin: 0px 20px;
  }
  h4 {
      font-size: larger;
      text-align: center;
      margin: 0 10px 10px 10px;
  }
  p {
      font-size: medium;
      text-align: center;
      margin: 0 300px 100px 300px;
  }
  h3 {
      font-size: medium;
      text-align: center;
      margin: 0 10px 10px 10px;
  }

  .viewportimage {
      width: 100%;
      height: 400px;
      background-image: url(./imgs/vanda-viewport.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 100%;
      text-align: center;
  }
  .viewport-text {
      opacity: 0.9;
      position: absolute;
      top: 170px;
      width: 100%;
      color: #160112;
      font-size: 30px;
  }
    .vandaphoto {
        margin: 0 auto;
        width: 300px;
        padding: 10px 0 20px 50px;
        text-align: center;
    }

    #aboutme {
        color: #160112;
        text-align: center;
        padding: 5px;
    }

    #portfolio {
    background-color: #fca0a0;
    color: #160112;
    display: flexbox;
    flex-direction: column;
    justify-content: flex-start;
    margin: 50px 10% 0 10%;
    border-radius: inherit;
    padding: 100px;
    
    }
    
    #portfolio hr {
    width: 50%;
    }

    .design {
        margin: 0 auto;
        width: 10px;
        padding: 100px;
        text-align: center;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        }

    .productdesign {
    margin: 0 auto;
    width: 10px;
    padding: 100px;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    }
    
    .architecture {
    margin: 0 auto;
    width: 10px;
    padding: 50px;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    }
    
    .scenography {
    margin: 0 auto;
    width: 10px;
    padding: 100px;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    }
    
    .skills {
    margin: 0 auto;
    width: 10px;
    padding: 100px;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    }

    .card ul {
    list-style: none;
    justify-content: flex-start;
    margin: 10px 50px 10px 20px;
    flex-direction: column;
    }

    hr {
    max-width: 100%;
    }

    footer {
    background-color: #C55959;
    color: #f7ebf5;
    height: 100px;
    padding: 100px;
    text-align: center;
    }
    
    footer ul {
    list-style: none;
    margin-bottom: 0;
    }