html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  header {
      color: #160112;
  }

  nav * {
      display: inline-block;
      color: #160112;
  }
  nav a {
      text-decoration: none;
      margin: 0px 20px;
  }
  h4 {
      font-size: larger;
  }
  p {
      font-size: medium;
      text-align: right;
      margin-left: 300px;
  }
  h3 {
      font-size: medium;
  }

  .viewportimage {
      width: 100%;
      height: 400px;
      background-image: url(./imgs/vanda-viewport.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 100%;
      text-align: center;
  }
  .viewport-text {
      opacity: 0.9;
      position: absolute;
      top: 170px;
      width: 100%;
      color: #160112;
      font-size: 30px;
  }
    .vandaphoto {
        margin: 0 auto;
        width: 200px;
        padding: 50px 0 50px 50px;
        text-align: center;
    }
#portfolio {
    background-color: #fca0a0;
    color: #160112;
    display: flex;
}
#portfolio hr {
    width: 50%;
  }


.card {
    margin: 0 auto;
    width: 300px;
    padding: 50px 0;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.architecture {
    margin: 0 auto;
    width: 300px;
    padding: 50px 0;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.scenography {
    margin: 0 auto;
    width: 300px;
    padding: 50px 0;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.skills {
    margin: 0 auto;
    width: 300px;
    padding: 50px 0;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card ul {
    list-style: none;
    text-align: left;
    margin: 30px 0;
}

hr {
    max-width: 10%;
}

footer {
    background-color: #C55959;
    color: #f7ebf5;
    height: 100px;
    padding: 100px;
    text-align: center;
}
footer ul {
    list-style: none;
    margin-bottom: 0;
}